.wrapper{
    display: flex; 
}

.link {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border: 1px solid rgb(1, 156, 1);
}

.isActive {
    composes: link;
    color: #fff;
    background-color: rgb(1, 156, 1);
}